/* LOADER */

@keyframes loader {
    0% {
        background-color: #FFF;
    }
    50% {
        background-color: #F5F5F5;
    }
    100% {
        background-color: #FFF;
    }
}

.Loader {
    animation: loader .5s ease-in-out infinite;
    -webkit-animation: loader .5s ease-in-out infinite;
    transition: 1s ease-in-out;
    height: 100vh;
    width: 100%;
}

/* media queries */

@media only screen and (max-width: 400px) {
    .Loader {
        animation: loader .5s ease-in-out infinite;
        -webkit-animation: loader .5s ease-in-out infinite;
        transition: 1s ease-in-out;
        height: 200px;
        width: 100%;
    }
    .Details {
        width: 100%;
        margin: auto;
        text-align: left;
    }
    .ReportType {
        text-transform: capitalize;
        font-size: 16pt;
        margin: 10px !important;
    }
}

@media only screen and (min-width: 401px) {
    .Loader {
        animation: loader .5s ease-in-out infinite;
        -webkit-animation: loader .5s ease-in-out infinite;
        transition: 1s ease-in-out;
        height: 300px;
        width: 100%;
    }
    .Details {
        width: 100%;
        margin: auto;
        text-align: left;
    }
    .ReportType {
        text-transform: capitalize;
        font-size: 16pt;
        margin: 10px !important;
    }
}

@media only screen and (min-width: 500px) {
    .Loader {
        animation: loader .5s ease-in-out infinite;
        -webkit-animation: loader .5s ease-in-out infinite;
        transition: 1s ease-in-out;
        height: 400px;
        width: 500px;
    }
    .Details {
        width: 100%;
        margin: auto;
        text-align: left;
    }
    .ReportType {
        text-transform: capitalize;
        font-size: 16pt;
        margin: 10px !important;
    }
}

@media only screen and (min-width: 767px) {
    .Loader {
        animation: loader .5s ease-in-out infinite;
        -webkit-animation: loader .5s ease-in-out infinite;
        transition: 1s ease-in-out;
        height: 500px;
        width: 767px;
    }
    .Details {
        width: 100%;
        margin: auto;
        text-align: left;
    }
    .ReportType {
        text-transform: capitalize;
        font-size: 16pt;
        margin: 10px !important;
    }
}

@media only screen and (min-width: 1366px) {
    .Loader {
        animation: loader .5s ease-in-out infinite;
        -webkit-animation: loader .5s ease-in-out infinite;
        transition: 1s ease-in-out;
        height: 500px;
        width: 1366px;
    }
    .Details {
        width: 1366px;
        margin: auto;
        text-align: left;
    }
    .ReportType {
        text-transform: capitalize;
        font-size: 16pt;
        margin: 10px !important;
    }
}