.StatsPanel {
    width: 100%;
    margin: 0
}

/* media queries */

@media only screen and (max-width: 400px) {
    .StatsPanel {
        width: 100%;
        margin: auto
    }
}

@media only screen and (min-width: 401px) {
    .StatsPanel {
        width: 100%;
        margin: auto
    }
}

@media only screen and (min-width: 525px) {
    .StatsPanel {
        width: 502px;
        margin: auto
    }
}

@media only screen and (min-width: 1366px) {
    .StatsPanel {
        width: 1368px;
        margin: auto
    }
}