/* .Container {
    width: 100vw;
    color: black;
}

.FinancialSection {
    margin: 0 auto;
    width: 1366px;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.FinancialTable {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.Details {
    width: 1366px;
    margin: auto;
    text-align: left;
}

.Ticker {
    text-transform: uppercase;
    margin: auto;
}

.ReportType {
    text-transform: capitalize;
    line-height: 25px;
    margin: auto
}

.RoundNumbers {
    margin: 10px 0 5px 0;
    font-style: italic;
    font-weight: bold;
    font-size: 10pt;
}

.FinancialRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1366px;
    font-size: 12pt;
}

.FinancialRow:nth-child(even) {
    background-color: #f9f9f9;
}

.FinancialTable>.FinancialRow:first-child {
    background-color: #1e1e1e;
    color: #FFF;
    width: auto;
    font-weight: bold;
}

.Title {
    width: 377px;
    text-align: left;
    margin: 10px;
}

.Value {
    text-align: right;
    margin: 10px;
    width: 100px;
} */

/* LOADER */

@keyframes loader {
    0% {
        background-color: #FFF;
    }
    50% {
        background-color: #F5F5F5;
    }
    100% {
        background-color: #FFF;
    }
}

.Loader {
    animation: loader .5s ease-in-out infinite;
    -webkit-animation: loader .5s ease-in-out infinite;
    transition: 1s ease-in-out;
    height: 100vh;
    width: 100%;
}

/* media queries */

@media only screen and (max-width: 400px) {
    .Container {
        width: 100vw;
    }
    .FinancialSection {
        margin: 0 auto;
        width: 100vw;
        display: flex;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .Details {
        width: 100%;
        margin: auto;
        text-align: left;
    }
    .ReportType {
        text-transform: capitalize;
        font-size: 16pt;
        margin: 10px;
    }
    .RoundNumbers {
        font-style: italic;
        font-size: 10pt;
        color: #777;
        margin: 10px;
        font-weight: lighter;
    }
    .FinancialRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        font-size: 9pt;
    }
    .FinancialRow:nth-child(even) {
        background-color: #f5f5f5;
    }
    .FinancialTable>.FinancialRow:nth-child(2) {
        background-color: #1e1e1e;
        color: #FFF;
        width: 100vw;
        font-weight: bold;
    }
    .Title {
        width: 200px;
        text-align: left;
        margin: 10px;
    }
    .Value {
        text-align: right;
        margin: 10px;
        width: 100px;
    }
}

@media only screen and (min-width: 401px) {
    .Container {
        width: 100vw;
    }
    .FinancialSection {
        margin: 0 auto;
        width: 100vw;
        display: flex;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .Details {
        width: 100vw;
        margin: auto;
        text-align: left;
    }
    .ReportType {
        text-transform: capitalize;
        font-size: 16pt;
        margin: 10px;
    }
    .RoundNumbers {
        font-style: italic;
        font-size: 10pt;
        color: #777;
        margin: 10px;
        font-weight: lighter;
    }
    .FinancialRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        font-size: 10pt;
    }
    .FinancialRow:nth-child(even) {
        background-color: #f9f9f9;
    }
    .FinancialTable>.FinancialRow:nth-child(2) {
        background-color: #1e1e1e;
        color: #FFF;
        width: 100vw;
        font-weight: bold;
    }
    .Title {
        width: 200px;
        text-align: left;
        margin: 10px;
    }
    .Value {
        text-align: right;
        margin: 10px;
        width: 100px;
    }
}

@media only screen and (min-width: 500px) {
    .Container {
        width: 500px;
        margin: auto;
    }
    .FinancialSection {
        margin: auto;
        width: 500px;
        display: flex;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .Details {
        width: 500px;
        margin: auto;
        text-align: left;
    }
    .ReportType {
        text-transform: capitalize;
        font-size: 18pt;
        margin: 10px !important;
    }
    .RoundNumbers {
        font-style: italic;
        font-size: 10pt;
        color: #777;
        margin: 10px;
        font-weight: lighter;
    }
    .FinancialRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 500px;
        font-size: 12pt;
    }
    .FinancialRow:nth-child(even) {
        background-color: #f5f5f5;
    }
    .FinancialTable>.FinancialRow:nth-child(2) {
        background-color: #1e1e1e;
        color: #FFF;
        width: 500px;
        font-weight: bold;
    }
    .Title {
        width: 250px;
        text-align: left;
        margin: 10px;
    }
    .Value {
        text-align: right;
        margin: 10px;
        width: 100px;
    }
}

@media only screen and (min-width: 767px) {
    .Container {
        color: black;
        width: 100%;
    }
    .FinancialSection {
        margin: 0 auto;
        width: 767px;
        color: black;
        display: flex;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .Details {
        width: 767px;
        margin: auto;
        text-align: left;
    }
    .ReportType {
        text-transform: capitalize;
        font-size: 18pt;
        margin: 10px !important;
    }
    .RoundNumbers {
        font-style: italic;
        font-size: 10pt;
        color: #777;
        margin: 10px;
        font-weight: lighter;
    }
    .FinancialRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 767px;
        font-size: 12pt;
    }
    .FinancialRow:nth-child(even) {
        background-color: #f5f5f5;
    }
    .FinancialTable>.FinancialRow:nth-child(2) {
        background-color: #1e1e1e;
        color: #FFF;
        width: 767px;
        font-weight: bold;
    }
    .Title {
        width: 377px;
        text-align: left;
        margin: 10px;
    }
    .Value {
        text-align: right;
        margin: 10px;
        width: 100px;
    }
}


@media only screen and (min-width: 1366px) {
    .Container {
        color: black;
        width: 100%;
    }
    .FinancialSection {
        margin: 0 auto;
        width: 1366px;
        color: black;
        display: flex;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .Details {
        width: 1366px;
        margin: auto;
        text-align: left;
    }
    .ReportType {
        text-transform: capitalize;
        font-size: 18pt;
        margin: 10px !important;
    }
    .RoundNumbers {
        font-style: italic;
        font-size: 10pt;
        color: #777;
        margin: 10px;
        font-weight: lighter;
    }
    .FinancialRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1366px;
        font-size: 12pt;
    }
    .FinancialRow:nth-child(even) {
        background-color: #f5f5f5;
    }
    .FinancialTable>.FinancialRow:nth-child(1) {
        background-color: #1e1e1e;
        color: #FFF;
        width: auto;
        font-weight: bold;
    }
    .FinancialTable>.FinancialRow:nth-child(2) {
        background-color: #f9f9f9;
        color: black;
        width: auto;
        font-weight: normal;
        position: static;
    }
    .Title {
        width: 377px;
        text-align: left;
        margin: 10px;
    }
    .Value {
        text-align: right;
        margin: 10px;
        width: 100px;
    }
}