/* LOADER */

@keyframes loader {
    0% {
        background-color: #FFF;
    }
    50% {
        background-color: #F5F5F5;
    }
    100% {
        background-color: #FFF;
    }
}

.Loader {
    animation: loader .5s ease-in-out infinite;
    -webkit-animation: loader .5s ease-in-out infinite;
    transition: 1s ease-in-out;
    height: 100vh;
    width: 100%;
}

/* media queries */

@media only screen and (max-width: 400px) {
    .KeyRatiosContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .Loader {
        animation: loader .5s ease-in-out infinite;
        -webkit-animation: loader .5s ease-in-out infinite;
        transition: 1s ease-in-out;
        height: 100vh;
        width: 300px;
        margin: auto
    }
    .KeyRatiosChart {
        width: 300px;
        /* padding: 0; */
        margin: 0 5px 10px 5px;
    }
    .Data {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 10pt;
    }
    
    .Data:nth-child(even) {
        background-color: #f5f5f5;
    }
    .Data:nth-child(2) {
        background-color: #1e1e1e;
        color:white;
        font-weight: bold;
    }
    .Data p {
        margin: 0 10px;
        padding: 5px 0;
        text-transform: capitalize;
    }
    .Details {
        width: 100%;
        margin: auto;
        text-align: left;
    }
    .ReportType {
        text-transform: capitalize;
        font-size: 16pt;
        margin: 10px !important;
    }
    .Title {
        width: auto;
        text-align: left;
        margin: 10px;
    }
    .Value {
        text-align: right;
        margin: 10px;
        width: auto;
    }
}

@media only screen and (min-width: 401px) {
    .KeyRatiosContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .Loader {
        animation: loader .5s ease-in-out infinite;
        -webkit-animation: loader .5s ease-in-out infinite;
        transition: 1s ease-in-out;
        height: 100vh;
        width: 400px;
        margin: auto
    }
    .KeyRatiosChart {
        width: 400px;
        /* padding: 0; */
        margin: 0 5px 10px 5px;
    }
    .Data {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 10pt;
    }
    
    .Data:nth-child(even) {
        background-color: #f5f5f5;
    }
    .Data:nth-child(2) {
        background-color: #1e1e1e;
        color:white;
        font-weight: bold;
    }
    .Data p {
        margin: 0 10px;
        padding: 5px 0;
        text-transform: capitalize;
    }
    .Details {
        width: 100%;
        margin: auto;
        text-align: left;
    }
    .ReportType {
        text-transform: capitalize;
        font-size: 16pt;
        margin: 10px !important;
    }
    .Title {
        width: auto;
        text-align: left;
        margin: 10px;
    }
    .Value {
        text-align: right;
        margin: 10px;
        width: auto;
    }
}

@media only screen and (min-width: 500px) {
    .KeyRatiosContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .Loader {
        animation: loader .5s ease-in-out infinite;
        -webkit-animation: loader .5s ease-in-out infinite;
        transition: 1s ease-in-out;
        height: 100vh;
        width: 500px;
        margin: auto
    }
    .KeyRatiosChart {
        width: 500px;
        /* padding: 0; */
        margin: 0 5px 10px 5px;
    }
    .Data {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12pt;
    }
    
    .Data:nth-child(even) {
        background-color: #f5f5f5;
    }
    .Data:nth-child(2) {
        background-color: #1e1e1e;
        color:white;
        font-weight: bold;
    }
    .Data p {
        margin: 0 10px;
        padding: 5px 0;
        text-transform: capitalize;
    }
    .Details {
        width: 100%;
        margin: auto;
        text-align: left;
    }
    .ReportType {
        text-transform: capitalize;
        font-size: 16pt;
        margin: 10px !important;
    }
    .Title {
        width: auto;
        text-align: left;
        margin: 10px;
    }
    .Value {
        text-align: right;
        margin: 10px;
        width: auto;
    }
}

@media only screen and (min-width: 767px) {
    .KeyRatiosContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }
    .Loader {
        animation: loader .5s ease-in-out infinite;
        -webkit-animation: loader .5s ease-in-out infinite;
        transition: 1s ease-in-out;
        height: 668px;
        width: 767px;
        margin: auto
    }
    .KeyRatiosChart {
        width: 378.5px;
        /* padding: 0; */
        margin: 0 5px 10px 5px;
    }
    .Data {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12pt;
    }
    
    .Data:nth-child(even) {
        background-color: #f5f5f5;
    }
    .Data:nth-child(2) {
        background-color: #1e1e1e;
        color:white;
        font-weight: bold;
    }
    .Data p {
        margin: 0 10px;
        padding: 5px 0;
        text-transform: capitalize;
    }
    .Details {
        width: 100%;
        margin: auto;
        text-align: left;
    }
    .ReportType {
        text-transform: capitalize;
        font-size: 18pt;
        margin: 10px !important;
    }
    .Title {
        width: auto;
        text-align: left;
        margin: 10px;
    }
    .Value {
        text-align: right;
        margin: 10px;
        width: auto;
    }
}

@media only screen and (min-width: 1366px) {
    .KeyRatiosContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .Loader {
        animation: loader .5s ease-in-out infinite;
        -webkit-animation: loader .5s ease-in-out infinite;
        transition: 1s ease-in-out;
        height: 1006px;
        width: 1366px;
        margin: auto
    }
    .KeyRatiosChart {
        width: 1366px;
        /* padding: 0; */
        margin: 0 5px 10px 5px;
    }
    .Data {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12pt;
        width: 1366px;
    }
    .Data:nth-child(1) {
        background-color: #1e1e1e;
        color:white;
        font-weight: bold;
    }
    .Data:nth-child(2) {
        color:black;
        font-weight: normal;
        width: auto;
    }
    .Data:nth-child(even) {
        background-color: #f5f5f5;
    }
    .Data p {
        margin: 0 10px;
        padding: 5px 0;
        text-transform: capitalize;
    }
    .Details {
        width: 100%;
        margin: auto;
        text-align: left;
    }
    .ReportType {
        text-transform: capitalize;
        font-size: 18pt;
        margin: 10px !important;
    }
    .Title {
        width: 300px;
        text-align: left;
        margin: 10px;
    }
    .Value {
        text-align: right;
        margin: 10px;
        width: 100px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap
    }
}

